<div class="post-container">
<%= form_with(model: @comment, local: true) do |form| %>
  <%= form.label :comment %>
  <br>
  <%= form.text_area :comment, :cols => 30, :rows => 10 %>
  <br>
  <%= form.submit "Save Changes" %>
<% end %>
</div>
