<button type="button" class="btn btn-primary" onclick="return alert('You can only edit posts within the first 10 minutes')">Edit</button>
<%= link_to new_comment_path(:post_id => post.id) do %>
<button type="button" class="btn btn-primary">Comment</button>
<% end %> 