/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

input {
  margin: 10px 10px;
  padding: 5px;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-style {
  border: 1px solid grey;
  margin: 10px;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 8px 6px -6px black;
}

.navbar-text {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
}

.float-right {
  text-align: right;
}

.comment-container {
  border: 1px solid grey;
  padding: 0.4em;
  background-color: #e0e0eb;
}

.text-left {
  padding: 0.4em;
  text-align: left;
}

.like {
  color: red;
}

.unlike {
  color: #555;
}

.things-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-header {
  color: white;
  background-color:#007bff;
}

.bg-info {
  background-color:#007bff !important;
}

.bi-house-door {
  color: grey;
}

.bi-house-door:hover {
  color: #535C68;
}