/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 * {
 margin-top: 0;
 margin-left: 0;
 padding:0;
 }

body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.3px;
  background-color: #f0f0f5;
  padding-top: 90px;
}

.navbar-text {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  letter-spacing: 1.3px;
  background-color: white;
  padding: 20px 0 20px 0;
  box-shadow: 0 0 6px 0;
}

#new-post-btn {
  margin:auto;
  display: block;
  margin-bottom: 0;
}

button,
input[type="submit"],
input[type="button"] {
  border: 1px solid #333;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  box-shadow: 0 8px 6px -6px black;
}


form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

input {
  margin: 10px 10px;
  padding: 5px;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-style {
  margin: 10px;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  box-shadow: -6px 8px 8px -6px black;
  background-color: white;
}

.post_message {
  font-size: 18px;
}

.post_author {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f5;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #52527a;
  font-size: 12px;
}

.post_date {
  color: #b3b3cc;
  font-size: 12px;
}


.float-right {
  text-align: right;
}

.comment-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  padding: 0.4em;
  background-color: #f0f0f5;
}

.text-left {
  padding: 0.4em;
  text-align: left;
}

.like {
  color: red;
}

.unlike {
  color: #52527a;
}

i:hover {
    color: red;
    cursor: pointer;
  }

.like_count {
  color: #52527a;
  font-size: 12px;
}
